version: '2.1'

job_defaults: &job_defaults
  filters:
    tags:
      only: /.*/

orbs:
  github-release: timo-reymann/github-release@1.0.1

executors:
  go:
    docker:
      - image: circleci/golang:1.15
  docker:
    docker:
      - image: docker:19-git


jobs:
  test:
    executor: go
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            gotestsum --junitfile unit-tests.xml
            make save-coverage-report
      - run:
          name: Push test coverage to codecov.io
          command: |
            go test -race -coverprofile=coverage.txt -covermode=atomic  -v ./...
            bash <(curl -s https://codecov.io/bash)
      - store_test_results:
          path: unit-tests.xml
      - store_artifacts:
          path: unit-tests.xml
      - store_artifacts:
          path: coverage.html


  github_release:
    executor: go
    steps:
      - checkout
      - run:
          name: Build binaries
          command: make build
      - github-release/setup
      - github-release/create-release:
          description: Release ${CIRCLE_TAG}
      - github-release/upload-files:
          file_pattern: 'dist/*'

  build_docker:
    executor: docker
    environment:
      IMAGE: timoreymann/webp-utils
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build
          command: docker build . -t "${IMAGE}"
      - run:
          name: Push
          command: |
            echo "$DOCKERHUB_TOKEN" | docker login --username timoreymann --password-stdin
            # Push only on tags
            if [[ ! -z "$CIRCLE_TAG" ]]
            then
              docker push "${IMAGE}:latest"

              docker tag "${IMAGE}:latest" "${IMAGE}:${CIRCLE_TAG}"
              docker push "${IMAGE}:${CIRCLE_TAG}"
            else
              echo "No tag, skipping push"
            fi


workflows:
  version: 2
  build:
    jobs:
      - test:
          <<: *job_defaults

      - build_docker:
          <<: *job_defaults
          requires:
            - test

      - github_release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
          requires:
            - test
